.material-symbols--download {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%234382dd' d='m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z'/%3E%3C/svg%3E");
  }

/* 页面整体布局 */
.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* 3D 画布区域 */
  .canvas-wrapper {
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: white;
  }
  
  .fixed-canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
  }
  
  /* 右侧操作区域 */
  .sidebar {
    width: 350px;
    padding: 20px;
    margin-left: 20px;
    background-color: #f9fafb;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  /* 选择预置模型 */
  .preset-area {
    margin-bottom: 20px;
  }
  
  /* 上传区域 */
  .upload-area input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  /* 操作说明 */
  .instructions {
    font-size: 14px;
  }
  
  .instructions ul {
    line-height: 1.6;
  }
  
  .instructions li {
    display: flex;
    align-items: center;
  }
  
  .instructions li strong {
    font-weight: bold;
  }